{% extends 'layout.html.twig' %}

{% block contents %}
    {% include 'error.html.twig' with {errors: errors} %}

    <div class="row text-center">
        <h1>そざいばこ</h1>
    </div>

    <div class="row">
        <div class="span3 text-center">
            {% for frame in frames %}
            <img class="preview-frame" src="{{ frame['path'] }}" alt="no_source" width="150" height="150" id="prev    iew-{{depth}}" />
            <br>
            <p id="preview-caption-{{depth}}">{{ frame['caption']}}</p>
            {% endfor %}
        </div>
        
        <div class="span6">
            <div class="images">
                {% for image in images %}
                    <img src="{{ image['src'] }}" alt="image" value="{{ image['id'] }}" width="120" height="120">
                {% endfor %}
            </div>
            <div class="pagination pagination-centered">
                <ul>
                    {% if (page == 1) %}
                        <li class="disabled"><a href="#">&laquo;</a></li>
                    {% else %}
                        <li><a href="{{ urlFor('material', {'page': page-1}) }}">&laquo;</a></li>
                    {% endif %}
                    <li class="active"><a href="#">{{ page }}</a></li>
                    {% if (page == all_page_num) %}
                        <li class="disabled"><a href="#">&raquo;</a></li>
                    {% else %}
                        <li><a href="{{ urlFor('material', {'page': page+1}) }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>


        <div class="span6 offset3">
            <form action="{{ urlFor('material_post') }}" method="post" id="image-select">
                <input type="text" name="image-id" value="" />
                <button id="image-select-btn" type="submit" class="btn btn-primary">コマ作成へ</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('/js/material.js') }}"></script>
{% endblock %}
