{% extends 'layout.html.twig' %}

{% block contents %}
    {% include 'error.html.twig' with {errors: errors} %}

    <div class="row">
        <div class="span9 offset1 text-center">
            <h1>{{ userName }}のページ</h1>
            <h2>これまでの投稿(人気順)</h2>
          {% for story in storyArray %}
            <div class="span2 text-center">
                <h3>{{ story["rank"] }}位</h3>
                <h3>{{ story.storyTitle }}</h3>
                <p>{{ story.favNum }}いいね！</p>

                <!--画像表示するところ-->
                {% for frame in story['frames'] %}
                    <img src="{{ frame['path'] }}" alt="パス不明" width="100" height="100"
                    {% if (frame['is_users']) %}
                        style="border: 20px solid #999999"
                    {% endif %}
                    >
                    <br>{{ frame['caption'] }}<br><br>
                {% endfor %}

            </div>
            {% endfor %}
        </div>

        <div class="span9 offset1 text-center">
            <!-- Share -->
            <!-- twitter -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-size="large" data-hashtags="PhotoStory（仮）">ツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <!-- FaceBook -->
            <a name="fb_share" type="box_count" share_url="{{urlFor('welcome')}}">シェア</a>
            <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
            <!-- Google -->
            <div class="g-plusone" data-size="tall" data-href="{{ urlFor('welcome') }}"></div>
            <script type="text/javascript">
            window.___gcfg = {lang: 'ja'};
            (function() {
                 var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                 po.src = 'https://apis.google.com/js/plusone.js';
                 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
             })();
            </script>
            <!-- はてなブックマーク -->
            <a href="http://b.hatena.ne.jp/entry/{{urlFor('welcome')}}" class="hatena-bookmark-button" data-hatena-bookmark-title="PhotoStory（仮）" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        </div>
    </div>
{% endblock %}
