{% extends 'layout.html.twig' %}

{% block contents %}
    {% include 'error.html.twig' with {errors: errors} %}

    <div class="row text-center">
        <h1>素材あっぷろーど</h1>
    </div>

    <div class="row">
        <div class="span3 text-center">
            {% for frame in frames %}
            <img class="preview-frame" src="{{ frame['path'] }}" alt="no_source" width="150" height="150" id="prev    iew-{{depth}}" />
            <br>
            <p id="preview-caption-{{depth}}">{{ frame['caption']}}</p>
            {% endfor %}
        </div>
        
        <div class="span6">
            <form action="{{ urlFor('upload_post')}}" method="post" enctype="multipart/form-data" class="form-vertical well">
                <div class="control-group">
                    <input id="image-select" type="file" name="upfile" accept="image/*" class="span3"/>
                    <input id="token" type="hidden" name="token" value="{{token}}" />
                    <img src="/img/public_img/200x200.jpg" id="preview" alt="preview" width="320" />
                </div>
                <div class="control-group">
                    <div class-"controls">
                        <label class="checkbox">
                        <input type="checkbox" name="policy" value="yes" />
                            <a href="{{ urlFor('upload_policy') }}">利用規約</a>に同意
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">アップロードする</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('/js/upload.js') }}"></script>
{% endblock %}
