{% extends 'layout.html.twig' %}

{% block contents %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit text-center">
        <h1>Photo Links</h1>
        <p>-あなたの写真を繋げよう-</p>
    </div>

   <h2>大人気4コマ</h2>
   <div class="row">
    <ul class="bxslider" id="slider">
        {% for frame in frameArray %}
        <li>
        <a href="{{urlFor('story_view_story',{'story_id': frame['story_id']}) }}">
            <div class="span2 text-center">
                <img src="{{frame['src']}}" alt="not found" width="200">
                <p>{{ frame['caption'] }}</p>
            </div>
        </a>
        </li>
        {% endfor %}
    </ul>
   </div>
    
    <br><br>
   <div class="row">
        <div class="tabbable span12">
            <ul class="nav nav-tabs text-center">
                <li class="active span5"><a href="#1" data-toggle="tab">最新のお題</a></li>
                <li class="span5 offset1"><a href="#2"data-toggle="tab">最近投稿された4コマ</a></li>
            </ul>
            
            <div class="tab-content">
                <!--1つめのtab内容．新着テーマ順-->
                <div id="1" class="tab-pane active">
                    <div class="row text-center">
                        {% for theme in themeArray %}
                            <div class="span2">
                                <a href="{{ urlFor('select', {'theme_id': theme['id']}) }}"><img src="{{ theme['image_path'] }}" alt="hoge" width="200"></a>
                                <p>{{ theme['caption'] }}</p>
                            </div>
                        {% endfor %}  
                    </div>
                </div>
                
                <!--２つめのtab.新着ストーリ-->
                <div id="2" class="span9 offset1 tab-pane">
                    {% for no, story in storyArray %}
                        <div class="span2 text-center">
                            <h3>{{ story['title']  }}</h3>
                            <p>{{story['favNum']}} いいね！</p>

                            {% for frame in story['frames'] %}
                                <a href="{{ urlFor('story_view_story', {'story_id': story['id']}) }}">
                                    <img src="{{ frame['path'] }}" alt="パス不明" width="100" height="100">
                                </a>
                                <br>{{ frame['caption'] }}<br><br>
                            {% endfor %}
                       </div>
                    {% endfor %}
                </div>
            </div>
        </div>
   </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
       $('#slider').bxSlider({
           auto: true,
           pause:  5000,
           speed: 1000,
           pager: false,
           slideWidth: 600,
           minSlides: 3, //一画面に表示する数
           maxSlides: 4,
           moveSlides: 1, //移動時にずれる数
           prevText: '<',
           nextText: '>'
     });
    });
</script>

{% endblock %}
