<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GroupWorkBase by VOYAGE GROUP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="{{ asset('/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">


    {% block header '' %}

    <!--bxSlider-->
    <link rel="stylesheet" href="{{ asset('/js/plugin/bxSlider/jquery.bxslider.css') }}">


</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">PhotoLinks</a>
            <div class="nav-collapse collapse">
                <!--
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Document <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ urlFor('doc_top') }}">リンク一覧</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">About</li>
                            <li><a href="{{ urlFor('doc_basic') }}">基本</a></li>
                            <li><a href="{{ urlFor('doc_extend') }}">用意された拡張</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ urlFor('hello', {name: 'VOYAGE_GROUP'}) }}">demo</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">課題 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/study/01">課題1</a></li>
                            <li><a href="/study/02">課題2</a></li>
                            <li><a href="/study/03">課題3</a></li>
                        </ul>
                    </li>
                </ul>
                -->
                <ul class="nav pull-right">
                    {% block login %}
                        {% if session.get('isLogin') %}
                        <li><a href="{{ urlFor('mypage', {'user_id' : session.get('user.id')}) }}" >{{ session.get('user.name') }}</a></li>
                            <li><a href="{{ urlFor('user_logout') }}">ログアウト</a></li>
                        {% else %}
                            <li><a href="{{ urlFor('user_login') }}">ログイン</a></li>
                            <li><a href="{{ urlFor('user_register') }}">新規登録</a></li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
    {% block contents '' %}
    <footer>
        <p>&copy; My N.Y. 2013</p>
    </footer>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('/js/jquery-2.0.0.js') }}"></script>
<script src="{{ asset('/js/underscore.js') }}"></script>
<script src="{{ asset('/js/backbone.js') }}"></script>
<script src="{{ asset('/bootstrap/js/bootstrap.js') }}"></script>

<script src="{{ asset('/js/plugin/bxSlider/jquery.bxslider.min.js')}}"></script>
<script src="{{ asset('/js/plugin/sidr/jquery.sidr.min.js') }}"></script>
{% block javascript '' %}
</body>
</html>
