{% extends 'layout.html.twig' %}

{% block contents %}
    {% include 'error.html.twig' with {errors: errors} %}

    <div class="row">
        <div class="span8 offset2 text-center">
            {% for depth, frame_row in frame_rows %}
                {% for parent_id, frames in frame_row %}
                    <div class="frames" style="display:none" data-depth="{{ depth }}" id="{{ parent_id }}">
                        <form action="{{ urlFor('add_frame_from_select') }}" method="get">

                        {% for frame in frames %}
                            {% if frame['src'] != ''%}
                                <img src="{{ frame['src'] }}" alt="plus1" value="{{ frame['id'] }}" width="100" height="100">
                            {% endif %}
                        {% endfor %}

                        {% if (depth != 0) %}
                            <input type="hidden" name="parent-id" value="" />
                            <input type="hidden" name="theme-id"  value="{{ theme_id }}" />
                            <input type="image" src="/img/public_img/plus.png" alt="コマを追加" width="100" height="100">
                        {% endif %}
                        </form>
                    </div>
                {% endfor %}
            {% endfor %}
            
           <form action="{{ urlFor('story_view_frames') }}" method="get" id="story-fm">
                <input type="text"   name="selected-frames-id" value="" />
                <input type="hidden" name="theme-id"  value="{{ theme_id }}" />
                <button id="story-view-btn" type="submit" class="btn btn-primary">ストーリーを見る</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('/js/select.js') }}"></script>
{% endblock %}
