{% extends 'layout.html.twig' %}

{% block header %}
    <link rel="stylesheet" href="{{ asset('/js/plugin/sidr/stylesheets/jquery.sidr.dark.css') }}">
{% endblock %}

{% block contents %}
    {% include 'error.html.twig' with {errors: errors} %}
    
    <div class="row text-center">
        <h1>つながるよ！</h1>
    </div>

    {% for depth, frames_row in frame_rows %}
        <div class="row frames-field"  data-depth="{{ depth }}" id="field-{{depth}}">
        
            <!--left_img_frame-->
            <div class="span3 text-center">
                <img class="preview-frame" src="/img/assets/searchIcon.png" alt="no_source" width="150" height="150" id="preview-{{depth}}" />
                <br>
                <p id="preview-caption-{{depth}}">コマを選んでください</p>
            </div>
       
            <!--main frames-->
            <div class="span6 text-center">
                {% for parent_id, frames in frames_row %}
                    <div class="frames" data-parent="{{parent_id}}" id="children-of-{{ parent_id }}">
                        <!--<ul class="slider-row">-->
                        {% for frame in frames %}
                            {% if frame['src'] != ''%}
                                <img class="frame" src="{{ frame['src'] }}" alt="{{frame['caption']}}" value="{{ frame['id'] }}" width="100" height="100" />
                            {% endif %}
                        {% endfor %}
                        <!--</ul>-->
                    </div>
                {% endfor %}
            </div>

            <!--right_plus_img-->
            <div class="span2 text-center" id="add-frame-{{depth}}">
               <!--hidden param from here-->
               <form action="{{ urlFor('add_frame_from_select') }}" method="get">
                   <input type="hidden" name="frame-ids" value="" />
                   {% if (depth != 0) %}
                       <input type="hidden" name="theme-id"  value="{{ theme_id }}" />
                       <input type="image" src="/img/assets/plusIcon.png" alt="コマを追加" width="50" height="50">
                   {% endif %}
               </form>
               <!--hidden param to here-->
            </div>

        </div>
    {% endfor %}
    <div class="row">
        <div class="span2 offset5 text-center">    
           <form action="{{ urlFor('story_view_frames') }}" method="get" id="story-fm">
                <input type="hidden"   name="selected-frames-id" value="" />
                <input type="hidden" name="theme-id"  value="{{ theme_id }}" />
                <button id="story-view-btn" type="submit" class="btn btn-primary">ストーリーを見る</button>
                
           </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="{{ asset('/js/select.js') }}"></script>
<script type="text/javascript">

$(document).ready(function(){
    // sidr
    $('#simple-menu').sidr({
        side:'right',
        body: null
    });

    // slider
    $('.slider-row').bxSlider({
    auto: false,
    pause:  5000,
    speed: 1000,
    pager: false,
    slideWidth: 600,
    minSlides: 3, //一画面に表示する数
    maxSlides: 4,
    moveSlides: 1, //移動時にずれる数
    prevText: '<',
    nextText: '>'
    });
});

</script>
    
{% endblock %}
