
{% extends 'layout.html.twig' %}

{% block contents %}
    {% include 'error.html.twig' with {errors: errors} %}

    <div class="row text-center">
        <h1>あたらしい可能性を発掘！</h1>
        <br>
    </div>

    <div class="row frames-field">
        <div class="span3 text-center">
            {% for frame in frames %}
            <img class="preview-frame" src="{{ frame['path'] }}" alt="no_source" width="150" height="150" id="prev    iew-{{depth}}" />
            <br>
            <p id="preview-caption-{{depth}}">{{ frame['caption']}}</p>
            {% endfor %}
        </div>

            <div class="span6">
            <!--
            <form action="{{urlFor('upload_image')}}" method="get" class="form-horizontal">
                <div class="text-center">
                    <button id="btn_upload" type="submit" class="btn btn-primary">素材をアップロード</button>
                    <a href="{{ urlFor('material') }}" class="btn btn-primary">素材を選択</a>
                </div>
            </form>
            -->
           <div class="span6 text-center" style="margin:10px">
               <a class="btn btn-primary" href="{{urlFor('upload_image')}}"><i class="icon-camera icon-white"></i> 写真から</a>
               <a class="btn btn-primary" href="{{urlFor('material', {'page': 1})}}"><i class="icon-folder-open icon-white"></i> 素材箱から</a>
           </div>

            <div class="span6 text-center" style="margin:10px; margin-bottom:20px;">
                <img src="{{ imgPath }}" alt="file not found" width="200" height="200">
            </div>

            <form action="{{ urlFor('make_frame') }}" method="post" class="form-horizontal well">
              <div class="control-group">
                   <label class="control-label" for="caption">Caption</label>
                   <div class="controls">
                       <input id="caption" name="caption" type="text"class="span3" value="{{input.caption}}" placeholder="20字以内で入力してください" />
                       <input id="parent_id" type="hidden" name="parent_id" value="{{ parent_id }}" >
                       <input id="token" type="hidden" name="token" value="{{ token }}" />
                       <input id="image_id" type="hidden" name="image_id" value="{{ image_id }}"/>
                   </div>
                </div>

                {% if is_last_frame != true %}
                <div class="controls">
                    <button id="make_frame" type="submit" class="btn btn-primary"
                    onClick="this.form.action='{{urlFor('make_frame')}}'">コマを追加</button>
                </div>
                {% else %} 

                <br> 
                 <div class="control-group">
                   <label class="control-label" for="Title">Title</label>
                   <div class="controls">
                       <input id="title" name="title" type="text" class="span3" value="{{ input.title }}" placeholder="15字以内で入力してください"//>
                   </div>
                </div>

                <div class="controls">
                    <button id="make_story" type="submit" class="btn btn-primary"
                    onClick="this.form.action='{{urlFor('make_story')}}'">ストーリーを作成</button>
                </div>
                {% endif %}
  
             </form>

        </div>
    </div>
{% endblock %}
