
{% extends 'layout.html.twig' %}

{% block contents %}
    {% include 'error.html.twig' with {errors: errors} %}

    <div class="row">
        <div class="span6 offset3">

            <form action="{{urlFor('upload_image')}}" method="get" class="form-horizontal well">
                <div class="controls">
                    <button id="btn_upload" type="submit" class="btn btn-primary">素材をアップロード</button>
                    <a href="{{ urlFor('material') }}" class="btn btn-primary">素材を選択</a>
                </div>
            </form>

            <div>
                <img src="/img/ismTest/placeholder.png" alt="file not found">
                <br>{{image_id}}<br>
            </div>

            <form action="{{ urlFor('make_frame') }}" method="post" class="form-horizontal well">
              <div class="control-group">
                   <label class="control-label" for="caption">Caption</label>
                   <div class="controls">
                       <input id="caption" name="caption" type="text"class="span3" value="{{input.caption}}"/>
                       <input id="parent_id" type="hidden" name="parent_id" value="{{ 1 }}"/>
                       <input id="image_id" type="hidden" name="image_id" value="{{ image_id }}"/>
                   </div>
                </div>

                <div class="controls">
                    <button id="make_frame" type="submit" class="btn btn-primary">コマを追加</button>
                </div>
                <br> 
                 <div class="control-group">
                   <label class="control-label" for="Title">Title</label>
                   <div class="controls">
                       <input id="title" name="title" type="text" class="span3" value="{{ input.title }}" />
                   </div>
                </div>

                <div class="controls">
                    <button id="make_story" type="submit" class="btn btn-primary" onClick="this.form.action='{{urlFor('make_frame')}}'">ストーリーを作成</button>
                </div>
  
             </form>

            <form action="{{ urlFor('make_story') }}" method="post" class="form-horizontal well">
                 <div class="control-group">
                   <label class="control-label" for="Title">Title</label>
                   <div class="controls">
                       <input id="title" name="title" type="text" class="span3" value="{{ input.title }}" />
                   </div>
                </div>
                <div class="controls">
                    <button id="make_story" type="submit" class="btn btn-primary">ストーリーを作成</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
