{% extends 'layout.html.twig' %}

{% block contents %}
    {% include 'error.html.twig' with {errors: errors} %}

    <div class="row">
        <div class="span6 offset3 text-center">
            <h1>{{ storyTitle  }}</h1>
            <p>{{ namedUserName  }}</p>
            <p>favNum:hoge</p>

            <!--画像表示するところ-->
            {% for frame in frameDataList %}
                <img src="{{ frame['image'] }}" alt="パス不明" width="400" height="400">
                <br>{{ frame['caption'] }}<br><br>
            {% endfor %}

            <!--selectに飛ばす-->
            <form action = "{{ urlFor('select') }} ">
                 <div class="controls">
                    <button id="return_select" type="submit" class="btn btn-primary">コマ選択に戻る</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}
