{% extends 'layout.html.twig' %}

{% block contents %}
    {% include 'error.html.twig' with {errors: errors} %}

     <div class="row">
        <div class="span6 offset3 text-center">
           {% if storyId is not null %}
            <h1>{{ storyTitle }}</h1>
               {% if userId is not null %}
                   {% if liked == false %}
                       <div class="span6 offset3 text-center">
                            <button disabled="disabled" id="favorite" class="btn btn-primary"><i class="icon-star-empty icon-white"></i>いいね！</button>
                            <span id="favNum">{{favNum}}</span>
                       </div>
	           {% else %}
                        <div class="span6 offset3 text-center">
                            <button id="favorite" class="btn btn-primary"><i class="icon-star-empty icon-white"></i>いいね！</button>
                            <span id="favNum">{{favNum}}</span>
                       </div>
                   {% endif %}
                {% endif  %}
            {% endif %}

            <!--画像表示するところ-->
            {% for frame in frameDataList %}
                <img src="{{ frame['image']}}" alt="パス不明" width="400" height="400">
                <div style="margin-bottom: 15px;">
                    <p style="line-height: 1; font-size: 3em;">{{ frame['caption'] }}</p>
                </div>
            {% endfor %}

            <!--selectに飛ばす-->
            <form action = "{{ urlFor('select', {'theme_id' : theme_id}) }} ">
                 <div class="controls">
                    <button id="return_select" type="submit" class="btn btn-primary">コマ選択に戻る</button>
                </div>
            </form>

            <!-- Share -->
            <!-- twitter -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-size="large" data-hashtags="{{ shareTitle }}">ツイート</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <!-- FaceBook -->
            <a name="fb_share" type="box_count" share_url="{{ shareURL }}">シェア</a>
            <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
            <!-- Google -->
            <div class="g-plusone" data-size="tall" data-href="{{ shareURL }}"></div>
            <script type="text/javascript">
            window.___gcfg = {lang: 'ja'};
            (function() {
                 var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                 po.src = 'https://apis.google.com/js/plusone.js';
                 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
             })();
            </script>
            <!-- はてなブックマーク -->
            <a href="http://b.hatena.ne.jp/entry/{{ shareURL }}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ shareTitle }}" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        </div>
    </div>
{% endblock %}

{% block javascript%}
     <script type="text/javascript">
         $("#favorite").click(function(){
            $.post("{{urlFor('story_view_favorite',{"story_id":storyId})}}",
            function(data){
                $("#favorite").attr("disabled","disabled");
                document.getElementById("favNum").innerText = data;
            }
            );
          });
</script>

{% endblock%}
